extends layout

block content
  h1 EVE Route Web

  p.
    This is the demonstration service for eve-route, a library for path finding in EVE Online. See here for details:
  ul
    li
      a(href="https://github.com/dertseha/eve-route-web.js") eve-route-web.js
      span  on GitHub (this service)
    li
      a(href="https://github.com/dertseha/eve-route.js") eve-route.js
      span  on GitHub (the underlying library)
